.gradle/
/build/
/*/build/
.DS_Store
.gradletasknamecache
.idea/*
!.idea/codeStyles
*.iml
kotlin_gen
/version.txt
/node_modules
**/.ideaconfig
**/.mpsconfig
$LOG_DIR$

# for MPS projects
workspace.xml
